.ya-controlbar-view {
  width: 100%;
  height: 40px;
  background: #232323;
  bottom: 0px;
  position: absolute;
}

.ya-play-btn {
  cursor: pointer;
  width: 23px;
  height: 25px;
  margin-left: 8px;
  margin-top: 8px;
  float: left;
  background: url("../../../../res/button/play_first_normal.png");
}
.ya-play-btn:hover {
  background: url("../../../../res/button/play_first_over.png");
}

.ya-sharpness-btn {
  cursor: pointer;
  width: 58px;
  height: 28px;
  margin-top: 6px;
  margin-right: 8px;
  float: right;
  background: url("../../../../res/button/sharpness_first_normal.png");
}
.ya-sharpness-btn:hover {
  background: url("../../../../res/button/sharpness_first_over.png");
}

.ya-animation-btn {
  cursor: pointer;
  width: 65px;
  height: 28px;
  margin-top: 6px;
  margin-right: 8px;
  float: right;
  background: url("../../../../res/button/animation_first_normal.png");
}
.ya-animation-btn:hover {
  background: url("../../../../res/button/animation_first_over.png");
}

.ya-rotate-btn {
  cursor: pointer;
  width: 26px;
  height: 26px;
  margin-top: 8px;
  margin-right: 8px;
  float: right;
  background: url("../../../../res/button/rotate_first_normal.png");
}
.ya-rotate-btn:hover {
  background: url("../../../../res/button/rotate_first_over.png");
}

.ya-music-btn {
  cursor: pointer;
  width: 26px;
  height: 26px;
  margin-top: 7px;
  margin-right: 8px;
  float: right;
  background: url("../../../../res/button/music_first_normal.png");
}
.ya-music-btn:hover {
  background: url("../../../../res/button/music_first_over.png");
}

.ya-bullet-btn {
  cursor: pointer;
  width: 20px;
  height: 18px;
  margin-top: 12px;
  margin-right: 8px;
  float: right;
  background: url("../../../../res/button/bullet_first_normal.png");
}
.ya-bullet-btn:hover {
  background: url("../../../../res/button/bullet_first_over.png");
}
