.ya-screen-btn {
  float: right;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url("./../../../../../res/button/screen.png");
  margin-right: 25px;
  margin-top: 11px;
}
.ya-screen-btn:hover {
  width: 20px;
  height: 20px;
  background: url("./../../../../../res/button/screenhover.png");
}
.ya-screen-btn1 {
  width: 20px;
  height: 20px;
  background: url("./../../../../../res/button/screen1.png");
}
.ya-screen-btn1:hover {
  width: 20px;
  height: 20px;
  background: url("./../../../../../res/button/screen1hover.png");
}
