.ya-danmaku-view{
 width: 100%;
 height: 100%;
 position: absolute;
}
.ya-danmaku-opacity0{
    opacity: 0;  
}
.ya-danmaku-opacity1{
    opacity: 0.25;  
}
.ya-danmaku-opacity2{
    opacity: 0.5;  
}
.ya-danmaku-opacity3{
    opacity: 1;  
}