.ya-music-tips {
  position: absolute;
  background: url("./../../../../../res/component/music_tips.png");
  display: none;
  width: 34px;
  height: 110px;
}
.ya-music-tips-container {
  top: 12px;
  left: 13px;
  position: absolute;
}
.ya-music-tips-probg {
  position: absolute;
  width: 6px;
  height: 79px;
  background-image: url("./../../../../../res/component/musicPro.png");
}
.ya-music-tips-event {
  position: absolute;
  width: 6px;
  height: 79px;
  cursor: pointer;
}
.ya-music-tips-btn-container {
  left: -6px;
  position: absolute;
}
.ya-music-tips-btn:hover {
  background-repeat: no-repeat;
  background-image: url("./../../../../../res/component/musicBar1.png");
}
.ya-music-tips-btn {
  cursor: pointer;
  position: absolute;
  width: 18px;
  height: 7px;
  background-size:18px 7px;
  background-repeat: no-repeat;
  background-image: url("./../../../../../res/component/musicBar.png");
}
.ya-music-tips-describe {
  right: 30px;
  top: -50%;
  position: absolute;
  color: aliceblue;
  text-align: center;
  background-color: #232323;
}
