.ya-play-btn {
  float: left;
  width: 18px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("./../../../../../res/button/play.png");
  margin-left: 25px;
  margin-top: 11px;
}
.ya-play-btn:hover {
  width: 18px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("./../../../../../res/button/playhover.png");
}
.ya-play-btn1 {
  width: 18px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("./../../../../../res/button/play1.png");
}
.ya-play-btn1:hover {
  width: 18px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("./../../../../../res/button/play1hover.png");
}
