.ya-play-btn {
  float: left;
  width: 18px;
  height: 20px;
  cursor: pointer;
  background: url("./../../../../../res/button/play.png");
  margin-left: 12px;
  margin-top: 11px;
  border: 1px solid #ff0000;
}
.ya-play-btn:hover {
  width: 18px;
  height: 20px;
  background: url("./../../../../../res/button/playhover.png");
}
.ya-play-btn1 {
  width: 16px;
  height: 20px;
  background: url("./../../../../../res/button/play1.png");
}
.ya-play-btn1:hover {
  width: 16px;
  height: 20px;
  background: url("./../../../../../res/button/play1hover.png");
}
