.ya-sharpness-item {
  font-size: 16px;
  color: #999999;
  width: 40px;
  text-align: center;
  margin-top: 17px;
  line-height: 16px;
  cursor: pointer;
  margin: 10px auto;
}

.sharpness-item-statu1 {
  color: #ff8800;
}
.sharpness-item-statu0 {
  color: #fff;
}
